---
import './SlideInSideButton.css';
---

<script src="./SlideInSideButton.ts"></script>

<button class="menu-button" id="menu-button" type="button" data-state="closed">
  <span class="sr-only">open menu</span>
</button>
