---
import Home from '../layouts/Splash.astro';
import Navigation from '../components/Navigation.astro';
---

<Home>
	<header>
		<h1 class="page-title">Painting Recipes</h1>
	</header>

	<main>
		<p class="blurb">
			I have started to write down some of the painting recipes that I have been using over the year’s while
			painting some of my miniatures. I don’t go into any great detail as these are just meant to be a colour
			guide.
		</p>

		<Navigation />
	</main>
</Home>

<style>
	body {
		background: var(--primary-100);
	}

	body {
		padding: 4.0625rem 2.25rem
	}

	main,
	.page-title {
		width: 21rem;
		margin-inline: auto;
	}

	.page-title {
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.blurb {
		margin-bottom: 2rem;
	}
</style>
