---
import '../assets/styles/naviagtion.css';

import { getCollection } from 'astro:content';
import Link from './Link.astro';

const { currentPageID } = Astro.props;
const warhammerRecipes = await getCollection('40K');
---

<div class="overlay"><!-- This is just for an overlay effect --></div>
<nav class="navigation">
  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Elder Scrolls: Call to Arms</span>
    </h2>

    <ul class="navigation__items">
      <li>
        <a href="#" class="navigation__item">Dragonborn</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Draugr</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Sekletons</a>
      </li>
    </ul>
  </section>

  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Fallout Wasteland Warfare</span>
    </h2>

    <ul class="navigation__items">
      <li>
        <a href="#" class="navigation__item">Mirelurk queen</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk frog crawler</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk hunters</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk Hatchlings & Eggs</a>
      </li>
    </ul>
  </section>

  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Warhammer 40,000</span>
    </h2>

    <ul class="navigation__items">
      {
        warhammerRecipes.map((recipe) => (
          <Link href={recipe.slug} content={recipe.data.title} />
        ))
      }
    </ul>
  </section>
</nav>

<script>
  const currentURL = window.location.pathname;
  const linkTag = document.querySelector(`[href="${currentURL}"]`);
  linkTag?.setAttribute('aria-describedby', 'current');
</script>
