---
import '../assets/styles/naviagtion.css';
---

<div class="overlay"><!-- This is just for an overlay effect --></div>
<nav class="navigation">
  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Elder Scrolls: Call to Arms</span>
    </h2>

    <ul class="navigation__items">
      <li>
        <a href="#" class="navigation__item">Dragonborn</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Draugr</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Sekletons</a>
      </li>
    </ul>
  </section>

  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Fallout Wasteland Warfare</span>
    </h2>

    <ul class="navigation__items">
      <li>
        <a href="#" class="navigation__item">Mirelurk queen</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk frog crawler</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk hunters</a>
      </li>
      <li>
        <a href="#" class="navigation__item">Mirelurk Hatchlings & Eggs</a>
      </li>
    </ul>
  </section>

  <section class="navigation__section">
    <h2 class="navigation__title">
      <span class="navigation__title-text">Warhammer 40,000</span>
    </h2>

    <ul class="navigation__items">
      <li>
        <a href="/40K/emperors-champion" class="navigation__item">Emperors Champion</a>
      </li>
      <li>
        <a href="/40K/voidraven-bomer" class="navigation__item">Voidraven Bomber</a>
      </li>
    </ul>
  </section>
</nav>
