---
import '../assets/styles/main.css';
import '../assets/styles/recipes.css';
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string
  description: string
}

const { title, description, currentPageID } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" crossorigin>

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | Painting Recipes</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=optional">

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <script src="../assets/scripts/menu-button.ts"></script>
  </head>

  <body>
    <Navigation />

    <main>
      <slot />
    </main>

    <button class="menu-button" id="menu-button" type="button" data-state="closed">
      <span class="sr-only">open menu</span>
    </button>

    <div class="colour-block"><!-- This is just a div used to colour in part of the page on dark mode --></div>
  </body>
</html>
